﻿@model FirstMVCAppEx.ViewModel.VM

                @using (Html.BeginForm("KullaniciDuzenle", "Home", FormMethod.Post))
            {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.kullanici.Id)

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(model => model.kullanici.Ad)
                                @Html.EditorFor(model => model.kullanici.Ad, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.kullanici.Ad, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(model => model.kullanici.Derece)
                                @Html.DropDownListFor(model => model.kullanici.Derece, Model.items, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(model => model.kullanici.DogumTarihi)
                                @Html.EditorFor(model => model.kullanici.DogumTarihi, new {htmlAttributes = new {@class = "form-control", type = "date"}})
                                @Html.ValidationMessageFor(model => model.kullanici.DogumTarihi, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        
                        @Html.LabelFor(model => model.kullanici.Sistem)
                        <br />
                        <div class="form-group">
                            <div class="col-md-10">
                                <div class="radio-inline">
                                    @Html.RadioButtonFor(model => model.kullanici.Sistem, "Linux", new {@class = "", type = "radio"})
                                    @Html.LabelFor(model => model.kullanici.Sistem, "Linux", new {@class = ""})
                                </div>
                                <br/>
                                <div class="radio-inline">
                                    @Html.RadioButtonFor(model => model.kullanici.Sistem, "IOS", new {@class = "", type = "radio"})
                                    @Html.LabelFor(model => model.kullanici.Sistem, "IOS", new {@class = ""})
                                </div><br/>
                                <div class="radio-inline">
                                    @Html.RadioButtonFor(model => model.kullanici.Sistem, "Windows", new {@class = "", type = "radio"})
                                    @Html.LabelFor(model => model.kullanici.Sistem, "Windows", new {@class = ""})
                                </div>
                                <br/>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(model => model.kullanici.Durum)
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.kullanici.Durum)
                                    @Html.ValidationMessageFor(model => model.kullanici.Durum, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(model => model.kullanici.Sayac)
                                @Html.EditorFor(model => model.kullanici.Sayac, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.kullanici.Sayac, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Düzenle" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }