﻿@model FirstMVCAppEx.ViewModel.VM

<div class="modal fade" id="yeniEkleModal" tabindex="-1">


    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Kullanıcı Ekle</h4>

            </div>
            <div class="modal-body">
                @using (Html.BeginForm("KullaniciEkle", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(model => model.kullanici.Ad)
                        @Html.TextBoxFor(model => model.kullanici.Ad, new { @class = "form-control", placeholder = "Kullanıcı Ad" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.kullanici.Derece)
                        @Html.DropDownListFor(model => model.kullanici.Derece, Model.items, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.kullanici.DogumTarihi)
                        @Html.TextBoxFor(model => model.kullanici.DogumTarihi, new { @class = "form-control", type = "date" })
                    </div>


                    @Html.LabelFor(model => model.kullanici.Sistem)
                    <br />
                        <div class="form-group">
                            <div class="radio-inline">
                                @Html.RadioButtonFor(model => model.kullanici.Sistem, "Linux", new { @class = "", type = "radio" })
                                @Html.LabelFor(model => model.kullanici.Sistem, "Linux", new { @class = "" })
                            </div>
                            <br />
                            <div class="radio-inline">
                                @Html.RadioButtonFor(model => model.kullanici.Sistem, "IOS", new { @class = "", type = "radio" })
                                @Html.LabelFor(model => model.kullanici.Sistem, "IOS", new { @class = "" })
                            </div><br />
                            <div class="radio-inline">
                                @Html.RadioButtonFor(model => model.kullanici.Sistem, "Windows", new { @class = "", type = "radio" })
                                @Html.LabelFor(model => model.kullanici.Sistem, "Windows", new { @class = "" })
                            </div>
                            <br />
                        </div>
                        <div class="form-group">
                            @Html.CheckBoxFor(model => model.kullanici.Durum, new { @class = "", type = "checkbox" })
                            @Html.LabelFor(model => model.kullanici.Durum, "Durum", new { @class = "" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.kullanici.Sayac)
                            @Html.TextBoxFor(model => model.kullanici.Sayac, new { @class = "form-control", type = "number", placeholder = "Sayac" })
                            <br />
                        </div>
                        <input type="submit" class="btn btn-success" value="Ekle" />

                }

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"> Kapat </button>

            </div>
        </div>
    </div>
</div>
