﻿<div class="modal fade" id="sil-onayla" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Uyarı
            </div>
            <div class="modal-body">
                Kaydı silmek istiyor musunuz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> İptal </button>
                <a class="btn btn-danger btn-ok"> Sil </a>
            </div>
        </div>
    </div>
</div>