﻿@model FirstMVCAppEx.ViewModel.VM


@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <h2>Liste</h2>
        <a onclick="kullaniciEkleGoster()" class="btn btn-primary"> Yeni </a>
        <a onclick="kullaniciDetayGoster()" class="btn btn-primary"> Detay </a>
        <a onclick="kullaniciSilGoster()" class="btn btn-primary"> Sil </a>
    </div>
    <div class="row">
        <table id="dataTableKullanicilar" class="display dataTable" style="width:100%" cellpadding="0" cellspacing="0" border="0" data-page-length='10'>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ad</th>
                    <th>Derece</th>
                    <th>Doğum Tarihi</th>
                    <th>Durum</th>
                    <th>Sistem</th>
                    <th>Sayaç</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@{
    Html.RenderPartial("_Ekle", Model);
    Html.RenderPartial("_Detay");
    Html.RenderPartial("_Sil");
}